<!DOCTYPE html>
<html>
<head>
<title>picomon_checker</title>
</head>
<body>
<h1>Hello Picomon!</h1>
<form method="get">
<input type="text" name="env" placeholder="environment" value="<%- query.env %>">
<input type="text" name="port" placeholder="port" value="<%- query.port %>">
<input type="text" name="c" placeholder="client" value="<%- query.client %>">
<input type="text" name="p" placeholder="profile" value="<%- query.profile %>">
<input type="submit" value="check">
</form>
<script type="text/javascript">
var _pcmnq = _pcmnq || [];
_pcmnq.push(['account', 'PA-<%- client %>-<%- profile %>']);
(function(){
var pc=document.createElement('script');pc.type='text/javascript';pc.async=true;
pc.src=('https:' == document.location.protocol?'<%- secure_url %>':'<%- url %>')+'/loader.js';
var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(pc,s);
})();
</script>
</body>
</html>
