<!DOCTYPE html>
<html>
<head>
<title>picomon_checker</title>
</head>
<body>
<h1 style="bottom:0px; right:10px; position:fixed;">Hello Picomon!</h1>
<div id="container" style="top:10px; left:10px; position:fixed;">
	<form method="get" id="param">
		<select name="env" id="env">
			<option value="production" <%= (query.env === 'production') ? 'selected' : '' %>>production</option>
			<option value="staging" <%= (query.env === 'staging') ? 'selected' : '' %>>staging</option>
			<option value="development" <%= (query.env === 'development') ? 'selected' : '' %>>development</option>
		</select>
		<input type="text" name="port" placeholder="httpPort" value="<%= query.port %>" id="port" style="width:4em;"><br>
		PA-<input type="text" name="c" placeholder="client" value="<%= query.client %>" style="width:4em;">
		-<input type="number" min="1" max="" step="1" name="p" placeholder="profile" value="<%= query.profile %>" style="width:3em;"><br>
		/<input type="text" id="route" placeholder="route" value="<%= route.replace(/^\//, '') %>" style="width:13em;"><br>
		<input type="submit" id="submitParam" value="let's pico" style="width:">
	</form>
	<hr>
	<a href="<%- url %>">http</a> / <a href="<%- secure_url %>">https</a> / <a href="<%- secure_url.split('://').join('://admin.') %>">admin</a><br>
	<button class="clearLocalStorageButton" data-origin="<%= protocol + here %>">Clear LocalStorage of <%= protocol + here %></button><br>
	<button class="clearLocalStorageButton" data-origin="<%= secure_url %>" disabled>Clear LocalStorage of <%= secure_url %></button><br>
	<button class="resetAgreementButton" data-origin="<%= secure_url %>" disabled>Reset Agreement of PA-<%= client %></button>
</div>


<script type="text/javascript">
var _pcmnq = _pcmnq || [];
_pcmnq.push(['account', 'PA-<%= client %>-<%= profile %>']);
(function(){
var pc=document.createElement('script');pc.type='text/javascript';pc.async=true;
pc.src=('https:' == document.location.protocol?'<%- secure_url %>':'<%- url %>')+'/loader.js';
var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(pc,s);
})();
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$(function() {
	$('select#env').on('change', function () {
		if($(this).val() === 'development') $('input#port').removeAttr('disabled');
		else $('input#port').attr('disabled', 'disabled');
	});
	$('select#env').trigger('change');
	$('input#submitParam').on('click', function () {
		$('form#param').attr('action', '/' + $('input#route').val());
	});
	$('button.clearLocalStorageButton').on('click', function () {
		if (!confirm('clear all ok?')) return;
		if ($(this).data('origin') === '<%= protocol + here %>') window.localStorage.clear();
		else $('iframe#picomon_hidden_frame')[0].contentWindow.postMessage('{"command":"erase","arg":"","callback":""}', $(this).data('origin'));
	});
	$('button.resetAgreementButton').on('click', function () {
		if (!window.__picomon__.PicomonLibrary) return;
		window.__picomon__.PicomonAnalysis.deleteStorage('isAgreed');
		$('iframe#picomon_hidden_frame')[0].contentWindow.postMessage('{"command":"setAgreement","arg":"PA-<%= client %>","callback":""}', $(this).data('origin'));
	});
});
</script>
</body>
</html>
